<h2>Following</h2>

<% unless @followed.empty? %>
	<ul>
	<% @followed.each do |relationship| %>
		<ui>
			<% u = User.find relationship.followed_id %>
			<%= u.name %>
			<%= link_to "Unfollow User", unfollow_path(u.id) %>
		</ui>
	<% end %>
	</ul>
<% end %>