@import "bootstrap-sprockets";
@import "bootstrap";

body {
	text-align: center;	
}

div.container-fluid {
	position: fixed;
	width: 100%;
}


.post {
	border-radius: 5px;
	border: 1px solid grey;
	background-color: #F0FFFF;
	text-align: left;
	position: relative;
	display: block;
	width: 500px;
	margin: 0 auto;
	padding: 5px;

}

.new_user {
	width: 40%;
	margin: 0 auto;
}

.post_text {
	background-color: lightblue;
	border: 1px solid grey;
	border-radius: 2px;
	font-size: 12px


}

.main_post {
	font-size: 18px;
	padding-bottom: 10px;
}

.form {
	padding-bottom: 5px;
}

div.container {
	width: 40%;
}












